*{
	font-size: 35px;
	word-spacing: 5px;
}
input,button{
	width: 50%;
	margin: 50px;
}
p{
	margin: 50px;
}
body{
	background: url(https://i.gifer.com/1zej.gif), rgba(255,255,255,0.7);
	background-blend-mode: color;
	background-size: cover;
	background-position-y: 32%;
}